body {
	padding: 0;
	margin: 0;
	background-color: #f6f6f6;
}
.top_menu{
	padding-right: 10px;
	font-size: 14px;
	float: right;
}
.links_ul  a {
	text-decoration: none;
}
.links_ul li{
	display: inline;
	margin-left: 10px;
	list-style-type: none;
}
.conteiner{
	height: 100%;
	padding-left: 14px;
}
.head{
	
}
.image{
	display: inline-block;
}
.left_menu ul {
	    padding-left: 1px;
}
.left_menu{
	width: 159px;
}
.left_menu a{
text-decoration: none;
}
.left_menu li{
	list-style-type: none;
}
.main{
	padding: 10px;
	border-left-style: solid;
	display: inline-block;
	width: 100%;
}
.conteiner_content{
	display: flex;
	flex-direction: row;
}
.footer{
	background-color: gray;
	height: 100px;
}
.tabs_item{
	border-right-style: solid;
	padding: 10px;
	text-decoration: none;
}
