body {
	background-color: #ccc
}
.top_menu{
		width: 100%;
		float: right;
}
.links_ul  a {
	text-decoration: none;
}
.links_ul li{
	display: inline;
	margin-left: 10px;
	list-style-type: none;
}
.alling{
	display: flex;
}